.storybook-button {
  border: 1px;
  border-radius: 5px;
  background-color: #003764;
  color: #fff;
  height: 50px;
  width: 275px;
  font-size: 20px;
}

.storybook-button--secondary {
  color: #003764;
  background-color: #fff;
}